{
  "extends": ["kaho/ts"],
  "root": true,
  "ignorePatterns": ["node_modules/", "dist/"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "@fluffyfox/prefer-timer-id": "off",
    "@fluffyfox/no-unsafe-date": "off"
  }
}